* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

body {
  background-color: #bcd3de;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */

h1 {
  text-transform: uppercase;
  color: #333f50;
}

#container {
  text-align: center;
  padding: 1.5rem;
}

#value {
  color: #333f50;
  font-size: 45px;
  padding: 1.5rem;
}

/* button */

button {
  border: none;
  margin: 1rem;
  background-color: white;
  box-shadow: 0px 0px 10px #95a2a7;
  font-weight: bold;
  font-size: 2rem;
  color: #333f50;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #a9bdc5;
}

button:active {
  transform: scale(0.9);
}

#reset {
  text-transform: uppercase;
  cursor: pointer;
  color: #333f50;
  padding: 1.5rem;
}

/*footer */

footer {
  position: absolute;
  bottom: 2px;
  color: #333f50;
}

img {
  width: 20px;
}
